html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,q,em,img,small,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
{border:0;outline:0;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;background: #f6f6f6;}ol,ul{list-style:none;}
:focus{outline:0}input,textarea{margin:0;outline:0;}textarea{overflow:auto; resize:none;}
table{border-collapse:collapse;border-spacing:0}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
body, input, select, textarea, p, a, b{
    font-family: 'Catamaran', sans-serif;
    color: #000;
    line-height:1.4;
}
*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a:hover { 
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
    transition:0.4s;
}
p{
    font-size: 15px;
    margin-bottom:15px;
}
a:hover, a:focus{
    text-decoration: none;
}
/* Layout 
______________________*/
.container {
    width: 1250px;
    max-width: 1250px;
    margin: 0 auto;
}
.big_imgmove{
    position: relative;
}
.share_save_btns{position: absolute;bottom: 43px;z-index: 99;right: 109px;}
.share_save_btns a{margin: 0 2px;color: #fff;display: inline-block;font-size: 14px;border-radius: 5px;padding: 9px 37px;}
.share_save_btns .orange_btn_save{background: #F26122;border: 2px solid transparent;}
.share_save_btns .share_btns{border: 2px solid #ccc;}
.row{
    margin: 0;
}
ul{
    padding: 0 !important;
}
body{
    background: #f5f5f542;
}
#loading,#loading1,#popup-6,#popup-7{
    display: none;
}
.get_into .title {
    margin: 0 0 24px;
}
.middleboxregister{
    width: 600px;
    margin: 40px auto 100px;
}
.middleboxregister .form-login .row div[class*="col-"],.middleboxregister .form-login .row aside[class*="col-"] {
    margin: 0 0 17px;
    padding: 0 12px;
}
.hover_listingbox img {
    height: 300px;
    object-fit: cover;
    border-radius: 11px;
}
#home h1, #home h2, #home h3, #home h4, #home h5, #home h6 {
    font-weight: 600 !important;
}
.joinbtnbox{
text-align:center; 
}
.joinbtnbox a {
    background: #f26122;
    color: #fff;
    border: none;
    font-size: 21px;
    padding: 17px 50px;
    border-radius: 44px;
}
.middleboxlogin {
    width: 434px;
    margin: 40px auto 60px;
}
.form-login .btn-block {
    background: #f26122;
}

/*header*/
.header_wrap {
    padding: 30px 0;
}
.logobox {
    padding: 0;
}
.logobox a img {
}
.navbar_box_items {
    padding: 0;
    text-align: right;
}
.navbar_box_items > ul > li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 45px;
}
.navbar_box_items ul li b{
    color: #33334C;
    font-weight: 500;
    font-size: 16px;
text-transform:uppercase;
}
.navbar_box_items ul li > a {
    color: #4D4D61;
    padding: 12px 0;
text-transform:uppercase;
}
.dropdown_box {
    position: absolute;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 6%);
    border-radius: 6px;
    width: 161px;
    top: 45px;
    display: none;
    opacity: 0;
}
.dropdown_box ul li a {
    display: inline-block;
    font-size: 14px;
    color: #333333;
    padding: 8px 13px;
    width: 100%;
text-transform:capitalize;
}
.dropdown_box ul li .active,.dropdown_box ul li a:hover{
    background: #FFF6F2;
}
.navbar_box_items .add_listing {
    background: #F26122;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    padding: 9px 18px;
}
.navbar_box_items .avatar_img {
    vertical-align: middle;
    margin: -2px 0 0;
    width: 33px;
}
.navbar_box_items ul li:hover .dropdown_box{
    display: block;
    opacity: 1;
}
.navbar_box_items .padd_right{
    padding-left: 20px;
}

/*main*/
.main_warp {
    padding: 79px 0 0;
}
.graphic_img {
    padding: 0;
}
.graphic_img img {
    width: 100%;
    padding-right: 64px;
}
.perfect_place {
    padding: 62px 0 0;
}
.perfect_place h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 15.9337px;
    line-height: 20px;
    color: #33334C;
}
.perfect_place h3 {
    font-weight: 300;
    font-size: 47.8012px;
    line-height: 60px;
    color: #33334C;
    margin: 3px 0 0;
}
.perfect_place h3 b {
    color: #F26122;
    font-weight: bold;
}
.search_bar {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 6%);
    position: relative;
    border-radius: 4px;
    padding: 2px 53px;
    margin: 0 0 34px;
}
.search_bar img {
    position: absolute;
    left: 20px;
    top: 18px;
}
.search_bar input {
    color: #A4A4A4;
    font-size: 14px;
    border: none;
    outline: 0;
    width: 84%;
    height: 56px;
}
.search_bar button {
    position: absolute;
    right: 9px;
    background: #F26122;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    padding: 11px 29px;
    border: none;
    top: 9px;
}
.slider_box_icons ul {
    text-align: center;
}
.slider_box_icons ul li {
    display: inline-block;
    padding: 8px 1px;
    margin: 0 1px;
    background: #FFFFFF;
    border: 0.248964px solid rgba(242, 97, 34, 0.2);
    border-radius: 4.97929px;
    width: 92%;
}
.slider_box_icons ul li a {
    font-size: 11px;
    color: #4D4D61;
    font-weight: 600;
    display: inherit;
}
.slider_box_icons ul li a img {
    height: 13px;
    display: block;
    margin: 0 auto;
    width: 13px;
    object-fit: contain;
}
.slider_box_icons li.active{
    background: #F26122;
    box-shadow: 2.98757px 9.95858px 13.942px rgb(0 0 0 / 14%);
    border-radius: 4.97929px;
}
.slider_box_icons li.active a{
    color: #fff;
}
.ellipse {
    position: absolute;
    left: 0;
    top: 0;
}
.ellipse img{
    height: 665px;
}
.dotted_lines {
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 9;
}
.dotted_lines img {
    width: 88px;
}
.right_dotted{
    position: absolute;
    top: 83px;
    z-index: 9;
    right: 0;
}
.right_dotted img{
    width: 88px;    
}
.rounded_box {
    position: absolute;
    right: 174px;
    top: 0;
}
.lines_shape{
    text-align: center;
    position: absolute;
    right: 0;
    left: 61px;
    margin: 0 auto;
}
.list_business {
    text-align: center;
    padding: 287px 0 0;
}
.list_business h4 {
    font-size: 36px;
    color: #33334C;
    margin: 0 0 4px;
}
.list_business p {
    color: #585866;
    font-weight: 300;
    font-size: 15px;
}
.plus_dot{
    position: relative;
    padding: 0 0 61px;
}
.right_plus{
    position: absolute;
    right: 90px;
    top: -45px;
}
.right_plus img{
    width: 26px;
}
.orange_plus{
    position: absolute;
    top: 36px;
    left: 35px;
}
.orange_plus img{
    width: 27px;
}
.icon_box_wrap{
    padding: 0;
}
.sidegapp{
    padding: 0 13px;
    margin: 0 0 21px;
}
.info_box_shadow{
    background: #FFFFFF;
    border: 1px solid rgba(242, 97, 34, 0.2);
    border-radius: 0px 30px;
    padding: 33px 21px 42px 31px;
    position: relative;
    margin: 0 0 40px;
    box-shadow: 2.98757px 9.95858px 13.942px rgb(0 0 0 / 7%);
    height: 330px;
}
.info_box_shadow img{

}
.info_box_shadow b{
    margin: 0 0 5px;
    color: #33334C;
    display: block;
    font-size: 20px;
}
.info_box_shadow ul{
    list-style: disc;
    padding: 0 0 9px;
}
.info_box_shadow ul li ,#volume_box .communitybox ul li{
    font-size: 13px;
    display: inline-block;
    width: 49%;
    margin: 0 0 6px;
    position: relative;
    padding: 0 0 0 11px;
}
.info_box_shadow ul li:before,#volume_box .communitybox ul li:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background: red;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    top: 6px;
}
.bottom_path{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.bottom_path img{  
    width: 100%;  
    display: block;
}
.shadow_icon{
    background: url(../images/shadow-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 71px;
    height: 81px;
    text-align: center;
    padding: 27px 0 0;
    margin: 0 0 20px;
    cursor: pointer;
}
.shadow_icon img{
    width: 28px;
}

.info_box_shadow{
    cursor: pointer;
    -webkit-transition: 0.9s;
}
.info_box_shadow:hover .bottom_path{
    display: block;
    -webkit-transition: 0.9s;
}
.arrow_doted{
    text-align: center;
    padding: 0 0 14px;
    position: absolute;
    left: 0;
    right: 0;
    margin: -34px 0 0;
    display: none;
}
.arrow_doted img{
    width: 58px;
}
.plus_dotted{
    text-align: center;
    position: absolute;
    right: 264px;
    margin: -37px auto;
}
.plus_dotted img{
    padding: 0 0 14px;
    width: 22px;
}
.footer_warp {
    background: url(../images/footrer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    padding: 347px 0 79px;
}
.fotter_logo img {
    padding: 0 0 13px;
    width: 207px;
}
.fotter_logo p {
    color: #fff;
    font-size: 15px;
}
.fotter_logo b {
    color: #fff;
    display: block;
    padding: 13px 0 4px;
}
.footer_search {
    background: #464666;
    border-radius: 5px;
    position: relative;
    margin: 33px 0 0;
}
.footer_search input {background: transparent;border: none;color: #fff;padding: 8px 20px;height: 43px;}
.footer_search button {position: absolute;right: 0;background: #F26122;color: #fff;display: inline-block;font-size: 14px;border-radius: 1px;padding: 11px 29px;border: none;top: 1px;}
.widget_colum h4 {
    color: #fff;
    margin: 0 0 17px;
    font-size: 18px;
}
.widget_colum ul li a{
    color: #fff;
    font-size: 13px;
    padding: 0 0 10px;
    display: inline-block;
}
.widget_colum{
    padding-left: 32px;
}

.community_wrap{
    background: url(../images/Union.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 364px 0 397px;
    margin: -80px 0 0;
    position: relative;
}
.communitybox h3{
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #33334C;
    margin: 0 0 9px;
}
.communitybox p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #33334C;
    margin: 0 0 24px;
}
.communitybox ul{
    position: relative;
}
.communitybox ul li{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 26px;
    color: #33334C;
    margin: 0 0 19px;
}
.communitybox ul li img{
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.communitybox b{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #F26122;
}
.communitybox h5{
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #33334C;
}
#last_child .info_box_shadow{
    margin-bottom: 0;
}
.business_graphic > img{
    width: 100%;
}
.clipart{
    text-align: center;
    margin: -86px 0 34px;
}
.clipart img{
    width: 79px;
}
.circle_clipart{
    position: absolute;
    right: 0;
    top: 142px;
}
.circle_clipart img{
    width: 96px;
}
.business_graphic{
    position: relative;
    padding: 44px 88px 0 0;
}
.dotted_lines_clipart{
    position: absolute;
    text-align: right;
    left: 0;
    right: 352px;
    margin: 38px 0 0;
}
.dotted_lines_clipart img{
    width: 120px;
}
.orange_card{
    padding: 10px 0 150px;
}
.orange_card_box{
    background: url(../images/orange-card-art.png);
    background-repeat: no-repeat;
    padding: 68px 69px 82px;
    background-size: cover;
    margin: 0 auto 87px;
    width: 1000px;
    background-position: center;
    border-radius: 38px;
    position: relative;
}
.orange_card_box h4 span,.hire_para span{
    display: block;
}
.orange_card_box > h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0 0 27px;
}
.orange_card_box > p{
    font-weight: 500;
    font-size: 15.9337px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.checkbox_tick{
    padding: 0 0 21px 35px;
    position: relative;
}
.checkbox_tick img{
    position: absolute;
    background: #FFFFFF;
    border-radius: 4px;
    left: 0;
    width: 20px;
    top: 15px;
    opacity: 0.8;
}
.checkbox_tick h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 0 8px;
}
.checkbox_tick p{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}
.learn_more_btns{
    padding: 38px 0 0;
}
.learn_more_btns a{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 13px 25px;
    display: inline-block;
    margin: 0 10px 0 0;
    font-weight: bold;
}
.learn_more_btns .our_projects{
    background: #fff;
    color: #f26122;
}
.learn_more_btns .learn_more{
    color: #fff;
}
.orange_card_box .hire_para{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.full_circle{
    position: absolute;
    right: -116px;
    top: 15px;
}
.bottom_circled{
    position: absolute;
    right: 143px;
    bottom: -71px;
}
.bottom_circled img{
    width: 258px;
}
.full_circle img{
    width: 290px;
}
.advertise_wrap .learn_more_btns .our_projects {
    background: #f26122;
    color: #fff;
}
.advertise_wrap .learn_more_btns {
    padding: 0;
    position: relative;
}
.advertise_wrap .communitybox ul li{
    position: relative;
    padding: 0 0 0 43px;
}
.advertise_wrap .communitybox ul li img{
    position: absolute;
    left: 0;
    top: 10px;
}
.advertise_wrap .communitybox ul li p{
    margin: 3px 0 0;
    font-size: 14px;
}
#advertise_info .business_graphic {
    padding: 0 0 0 75px;
}
#advertise_info  .business_graphic > img {
    width: 85%;
}
.advertise_wrap{
    padding: 24px 0 66px;
    position: relative;
}
.verifed_listings {
    padding: 65px 0 336px;
    position: relative;
}
.verify_head h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #33334C;
}
.verify_head p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #33334C;
}
.listingbox{
    padding: 22px 25px 20px 0;
}
.hover_listingbox{
    position: relative;
    cursor: pointer;
}
.hover_listingbox img{
    width: 100%;
}
.hover_box_list{
    position: absolute;
    bottom: 67px;
    left: 36px;
}
.hover_box_list h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 0 14px;
    padding: 0 43px 0 0;
}
.hover_box_list p{
    margin: 6px 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 9px;
    color: #FFFFFF;
}
.purple_line{
    position: absolute;
    left: 0;
    top: -74px;
}
.purple_line img{  
    width: 103px;
}
.purple_dot{
    position: absolute;
    left: 294px;
    top: 23px;
}
.purple_dot img{
    width: 35px;
}
.verify_head{
    position: relative;
}
.listing_lines {
    position: absolute;
    top: -26px;
    text-align: center;
    left: 0;
    right: 0;
}
.listing_lines img{
    width: 100px;
}
.upper_line_dot{
    position: absolute;
    right: 0;
    top: 149px;
}
.upper_line_dot img{
    width: 95px;
}
.orange_purple{
    text-align: center;
    padding-top: 30px;
}
.carousel-control {
    top: 14px;
    left: -13px;
    width: auto;
    opacity: 1;
    background: none !important;
    box-shadow: none !important;
}
.carousel-control.right {
    right: -11px;
}
.carousel-control i{
    color: #33334C;
}
.communitybox h3 span{
    display: block;
}
.vertical_dot_box{
    position: relative;
}
.vertical_dot{
    position: absolute;
    right: 0;
    top: 336px;
}
.vertical_dot img{
    width: 52px;
}
.business_card{

}   
.business_banner{
    background: url(../images/business_bannerpng.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 535px;
    padding: 31px 53px;
}
.share_icon ul li{
    display: inline-block;
    vertical-align: middle;
}
.share_icon ul li a img{
    vertical-align: middle;
    padding: 0 5px;
}
.profile_box {
    padding: 234px 0 0;
}
.profile_box_img {
    padding: 0;
}
.profile_box_img img {
    width: 117px;
    height: 127px;
    object-fit: contain;
}
.right_profilebox {
    padding: 9px 0 0;
    margin: 0 0 0 -12px;
}
.right_profilebox h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.right_profilebox p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.right_profilebox ul {
    padding: 18px 0 0;
}
.right_profilebox ul li {
    display: inline-block;
    padding: 0 5px 0 0;
}
.slider_box_icons li:hover{
    background: #F26122;
}
.slider_box_icons li:hover img{
    filter: grayscale(136%) brightness(294%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(5.8);
}
.slider_box_icons li:hover a{
    color: #fff;
}
.right_profilebox ul li a {
    background: rgba(255, 255, 255, 0.13);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
}
.right_profilebox ul li a img {
    vertical-align: middle;
}
.right_profilebox ul li a:hover{
    background: #F26122;
    border: 1px solid #F26122;
} 

ul.tabs__box{
    margin: 0px 0 37px;
    padding: 0px;
    list-style: none;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2.98757px 2.95858px 18.942px rgb(0 0 0 / 14%);
}
ul.tabs__box li{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    width: 16.3%;
    display: inline-block;
    padding: 17px 15px;
    cursor: pointer;
    color: #33334C;
}
ul.tabs__box li.current{
    color: #F26122;
    border-bottom: 2px solid #F26122;
}
.tab-content__box{
    display: none;
    margin: 0 0 0;
}
.tab-content__box.current{
    display: inherit;
}
.inner_tabs{
    padding: 0 57px;
    margin: -34px 0 0;
}
.tab-content__box #advertise_info .business_graphic {
    padding: 0 0 0 54px;
}
.tab-content__box .learn_more_btns a{
    background: #ffffff;
    border: 1px solid #f26122;
    color: #f26122;
}
.tab-content__box .advertise_wrap .clipart {
    text-align: center;
    margin: -38px 0 34px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -9;
}
.tab-content__box #advertise_info{
    padding: 83px 0 156px;
}
.gallerybox {
    padding: 21px 0 0;
}
.left_box {
    padding: 0 16px 0 0;
    position: relative;
}
.inner_gallery > img {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}
.bigbox_gallery > img {
    height: 479px;
    object-fit: cover;
}
.right_box {
    padding: 0 16px 14px 0px;
    position: relative;
}
.small_box_gallery > img {
    height: 480px;
    object-fit: cover;
}
.bigbox_gallery .overlay_box{height: 458px;width: 95%;}
.overlay_box{
    background: rgb(242 97 34 / 28%);
    border-radius: 15px;
    position: absolute;
    top: 11px;
    width: 90.6%;
    height: 460px;
    left: 11px;
    right: 0;
    padding: 329px 29px 25px;
    display: none;
    opacity: 0;
}
.overlay_box h4{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 3px;
}
.overlay_box h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 140.4%;
    color: #FFFFFF;
}
.overlay_box p{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 8px 0 0;
}
.overlay_box p > img{
    vertical-align: middle;
    margin: 0 6px 0 0;
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.overlay_box .name_avatar{
    margin: 0 30px 0 0;
}
.star_box img{
    vertical-align: middle;
    margin: 1px 3px 0 0;
}
.inner_gallery:hover .overlay_box{
    display: block;
    opacity: 1;
    cursor: pointer;
}
.every_business{
    padding-top: 50px;
}
.right_profilebox h3 img{
    vertical-align: middle;
    margin: -4px 0 0 6px;
}
.owl-carousel .owl-item {
    position: relative;
    overflow: hidden;
}
 .avatar img {
    object-fit: contain;
}
 
.owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -33px;
    right: 0;
    margin-top: -23px;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}
.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -33px;
    margin-top: -23px;
}
.owl-nav button:hover{
       outline: 0 !important;
}
 
.owl-nav button {
    display: block;
    font-size: 1.3rem!important;
    line-height: 2em;
    border-radius: 50%;
    width: 3rem;
    color: #33334C;
    height: 3rem;
    text-align: center;
    z-index: 100000;
}
.owl-nav button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.owl-nav button span{
    display: none;
}
.owl-nav button:focus{
    outline: 0 !important;
}
.orange_pathwrap{
    background: url(../images/orange-shape.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 708px;
    margin-top: 148px;
}
.iframe_box{
    position: relative;
    background: #fff;
    border: 10px solid #FFFFFF;
    border-radius: 30px;
    margin: 167px 0 0;
}
.iframe_box iframe{
    border-radius: 25px;
}
.getin_touch{
    position: absolute;
    width: 460px;
    left: 151.1px;
    top: -85px;
    background: #FFFFFF;
    border-radius: 27.3729px;
    padding: 23px 31px;
    box-shadow: 2.98757px 2.95858px 18.942px rgb(0 0 0 / 14%);
}
.getin_touch h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #33334C;
    padding: 0 0px 44px;
}
.form_gapp{padding: 0 7px;}
.form_box{
    position: relative;
    margin: 0 0 25px;
}
.form_box label{
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    display: block;
    margin: 0 0 10px;
}
.form_box input{
    background: #FFFFFF;
    border: 0.428081px solid #9494c7;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    width: 100%;
    height: 40px;
    padding: 0 37px;
}
.form_box textarea{
    background: #FFFFFF;
    border: 0.428081px solid #9494C7;
    border-radius: 8.56161px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    Height: 171px;
    width: 100%;
    padding: 10px 41px;
}
.form_box img{
    position: absolute;
    left: 15px;
    top: 36px;
}
.form_box button{
    background: #F26122;
    border-radius: 4.28081px;
    Padding: 11px 69px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    outline: 0;
}
.shape_doted_mix{
    position: absolute;
    top: -44px;
    z-index: -9;
    left: -31px;
}   
.shape_doted_mix img{
    width: 100px;
}
.mixcher_orange{
    background: url(../images/Mask-bg-.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* width: 1097px; */
    margin: 227px auto 132px;
    padding: 76px 105px;
    text-align: center;
    height: 375px;
}
.mixcher_orange h4{
    font-weight: 700;
    font-size: 43px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
}
.mixcher_orange p{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.mixcher_orange a{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 13px 25px;
    color: #F26122;
    display: inline-block;
    font-weight: bold;
    margin: 7px 0 0;
}
#intrested{
    top: auto;
    margin: -30px 0 0px;
}
#intrested img {
    width: 66px;
}
.inner_bottombox{
    background: #FEFEFE;
    border: 1px solid #F4DED2;
    border-radius: 25px;
    box-shadow: 2.98757px 2.95858px 18.942px rgb(0 0 0 / 14%);
    margin: 16px 0 19px;
}
.inner_bottombox > img{
    width: 100%;
    display: block;
}
.inner_bottombox h5{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.333333px;
    color: #33334C;
    margin-bottom: 19px;
}
.inner_bottombox h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.333333px;
    color: #33334C;
    margin: 0 0 11px;
}
.inner_bottombox p{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.333333px;
    color: #33334C;
}
.inner_bottombox a{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.333333px;
    color: #33334C;
    display: inline-block;
}
.inner_bottombox > a > img {
    margin: 0;
    width: 100%;
}
.sidegapp_bottom{
    padding: 29px 22px;
}
.info_tooltip{
    text-align: right;
    padding: 7px 0 1px;
}
.bottom_box{
    
padding: 0 28px 0 0;
}
.emptyspace{
    padding-bottom: 100px;
}

.slider_box_icons li a i{display: block;margin: 0 0 4px;}
.slider_box_icons li{
    height: 56px;
}
.shadow_icon i{
    font-size: 32px;
    color: #f58655;
}
.menubtn{
    display: none;
}
.close_icon{
    display: none;
}
.info_box_wrap {
    padding: 26px 0 0;
}
.inner_box_info {
    padding: 0 0 85px;
}
.inner_box_info  h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #33334C;
}
.inner_box_info p{
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #585866;
}
#volume_box{

padding: 0 0 118px;
}
#volume_box .business_graphic {
    padding: 0 109px 0 0;
    margin: -12px 0px 0;
}
#volume_box .communitybox{

}
#volume_box .communitybox ul{

}
#volume_box .communitybox ul li{

font-size: 16px;

padding-left: 18px;
}
#volume_box .learn_more_btns{

}
#volume_box .learn_more_btns .our_projects{

background: #1C5B95;

box-shadow: 6px 6px 23px rgba(0, 0, 0, 0.1);

border-radius: 5px;

color: #fff;
}
#volume_box .learn_more_btns span{display: inline-block !important;padding: 0 8px 0 0;font-weight: 400;font-size: 19px;line-height: 30px;color: #33334C;vertical-align: middle;}
#volume_box .learn_more_btns a{

background: #F26122;

border-radius: 5px;

color: #fff;
}
#volume_box .communitybox span{
    display: block;
}
 #volume_box .communitybox ul li:before {
    height: 6px;
    width: 6px;
    top: 9px;
}
.tags_box{

padding: 0 0 109px;
}
.tags_box li{
    display: inline-block;
    margin: 0 8px 0 0;
    position: relative;
    text-align: center;
}
.tags_box ul a{background: #FAFAFF;border: 1px solid #EAEAF5;border-radius: 10px;width: 100%;display: inline-block;margin: 0 0 14px;padding: 13px 38px;font-weight: 500;font-size: 18px;line-height: 25px;color: #33334C;}
.tags_box img{
    vertical-align: middle;
    margin: 0 3px 0 0;
    position: absolute;
    left: 12px;
    width: 20px;
    top: 17px;
}
.tags_box ul a:hover{
    background: #F26122;
    color: #fff;
}
.tags_box ul a:hover img{
    filter: grayscale(136%) brightness(344%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(5.8);
}

.client_say{

padding: 241px 0 0;
}
.clients_box{

}
.clients_box h3{font-weight: 600;font-size: 36px;line-height: 124.4%;
/* identical to box height, or 51px */text-align: center;color: #33334C;}
.clients_box h4{font-weight: 400;font-size: 16px;line-height: 26px;text-align: center;color: #F26122;margin: 0 0 50px;}
.cilent_gapp{

}
.info_client{background: #FFFFFF;box-shadow: 0px 11.957px 29.8925px rgba(18, 17, 39, 0.08);border-radius: 11.957px;position: relative;padding: 14px 17px 14px 131px;}
.info_client img {
    position: absolute;
    left: 14px;
    top: 8px;
    height: 62px;
    width: 72px;
    object-fit: contain;
}
.info_client h4{

font-weight: 600;

font-size: 17px;

line-height: 1;
/* identical to box height, or 15px */


/* Grayscale/100 */

color: #1A1A1A;
}
.info_client h6{



/* Grayscale/80 */

font-weight: 400;

font-size: 12px;

line-height: 1;
/* identical to box height, or 13px */


/* Grayscale/80 */

color: #626262;

margin: 7px 0 6px;
}
.info_client p{font-style: italic;font-weight: 500;font-size: 13px;line-height: 1.3;
/* or 17px */


/* Grayscale/90 */color: #464646;margin: 0;}
.info_client i{font-size: 12px;color: #F26122;}
.info_client span{
    font-weight: 400;
font-size: 8.36991px;
line-height: 13px;
/* identical to box height */


/* Grayscale/80 */

color: #626262;
}
.rating{
    text-align: right;
}
.listing_view_gapp{

    padding: 114px 0 336px;

}







.carousel {
    position: relative;
}
.carousel-item img {
    object-fit: cover;
    border-radius: 10px;
}

#carousel-thumbs {
}
#carousel-thumbs img:hover {
    opacity: 100%;
}

#carousel-thumbs > img {
    opacity: 80%;
    border: 3px solid transparent;
    cursor: pointer;
    height: 189px;
    width: 100%;
    border-radius: 10px;
}
#carousel-thumbs .selected img {
    opacity: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-fullscreen-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
}

.carousel-fullscreen-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
}

.pause .carousel-pause-icon {
    position: absolute;
    top: 3.75rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
}
.pause .carousel-pause-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
}

.play .carousel-pause-icon {
    position: absolute;
    top: 3.75rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
}

.play .carousel-pause-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
}

#carousel-thumbs .carousel-item img{
        height: 167px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        cursor: p;
}

.modal-content {
    border-radius: 0;
    background-color: transparent;
    border: none;
}
#lightbox-container-image img {
    width: auto;
    max-height: 520px;
}
.gallery_wrap .carousel-control-prev {
    left: -38px;
}
.gallery_wrap .carousel-control-next {
    right: -38px;
}
#user_dropdonw{
    right: -30px;
}
.banner_listing{
    
background: #f26122;
}
.widget-search {
    margin: 0 0 0 9px;
}
.menu_items{
    
text-align: center;
    
padding: 59px 0;
    
margin: 0 0 33px;
}
.menu_list_bg{
    
}
.menu_list_bg ul li{
    
vertical-align: top;
    
background: #fff;
    
border-radius: 4px;
    
display: inline-block;
    
margin: 0 4px 12px;
    
padding: 12px 0;
    
font-size: 14px;
    
width: 16%;
    
height: 57px;
}
.menu_list_bg ul li a{
    
/* background: #fff; */
    
/* border-radius: 4px; */
    
/* display: inline-block; */
    
/* margin: 0 4px 12px; */
    
/* padding: 12px 0; */
    
/* font-size: 14px; */
}
.menu_list_bg ul li a i{
    
display: block;
}
#content .hover_listingbox img {
    height: 222px;
    object-fit: cover;
    border-radius: 11px;
}
#content .listingbox {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.sort-item {
    padding: 0;
}
.dropdown_box {
    z-index: 999;
}
.header_wrap .padd_right .dropdown_box {
    right: 3px;
}
.hover_listingbox,.hover_listingbox img{
    transition: 0.3s;
}
.hover_listingbox img:hover {
  transform: scale(1.1);
}
.hover_listingbox {
    overflow: hidden;
}
.menulogin {
    background: #f26122;
    padding: 19px 0 0;
}
.menulogin ul {
    text-align: center;
}
.menulogin ul li {
    display: inline-block;
}
.menulogin ul li a {
    color: #fff;
    font-size: 15px;
    padding: 0 8px 0;
    line-height: inherit;
}
.login_info p {
    font-size: 14px;
}
.hovertext {
    z-index: 99;
    position: absolute;
    width: 385px;
    top: 203px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display:none;
    opacity:0;
}
.login_info p:hover .hovertext {
    display:block;
    opacity:1;
}
.menulist_bar{text-align:center}
.menulist_bar h3 {
    padding: 0 0 25px;
    font-size: 27px;
    color: #fff;
    text-transform: capitalize;
}
#faq_box{
    padding: 34px 0 30px;
}
.padd_btom{padding:30px 0 50px;}
.navbar_box_items li a i{display:none;}
.navbar_box_items li:first-child i{display:inline-block;}
.product_para p {
    color: #fff;
    margin: 9px 0 0;
    padding: 0 120px;
}
.list_business p {
    padding: 0 229px;
    line-height: 1.5;
}
#content{padding:0;}
/*responsive*/

@media(max-width: 1250px){
    .container{
        width: 100%;
    }
    .list_business p {
    padding: 0 15px;
}
    .dotted_lines,.lines_shape,.right_dotted,.rounded_box,.orange_plus,.right_plus,.dotted_lines_clipart,.full_circle,.bottom_circled
    ,.purple_line,.upper_line_dot,.listing_lines,.orange_purple{
        display: none;
    }
}


@media(max-width: 1024px){
    .container{
        width: 100%;
    }
}


@media(max-width: 767px){
    .container{
        width: auto;
    }
    #volume_box .communitybox {
    padding: 11px 0 0;
}
    .big_imgmove img {
    height: 259px !important;
}
.inner_box_info {
    padding: 0 0 22px;
}
.listingbox {
    padding: 0;
}
.hover_box_list h4 {
    font-size: 17px;
    line-height: 20px;
    margin: 0 0 14px;
    padding: 0 28px 0 0;
}
.client_say {
    padding: 15px 0;
}
.listing_view_gapp {
    padding: 0;
}
.clients_box h3 {
    font-size: 19px;
}
.communitybox p {
    margin: 0;
}
#volume_box .communitybox ul li {
    font-size: 16px;
}
#volume_box {
    padding: 0 0 30px;
}

.info_box_shadow ul li, #volume_box .communitybox ul li {
    width: 100%;
    margin: 0 0 6px;
    padding: 0 0 0 8px ;
}
.info_box_wrap {
    padding: 26px 0 0;
}
.owl-carousel .owl-item img {
    height: 138px  !important;
}
.inner_box_info p {
    font-size: 15px;
}
.inner_box_info h2 {
    font-size: 26px;
}
    .menu_list_bg ul li a {
    width: 126px;
}
    .hover_listingbox img {
        height: auto;
    }
    .middleboxlogin ,.middleboxregister{
        width: 95%;
        margin: 40px auto;
    }


    .main_warp {
        padding: 10px;
    }
    .graphic_img img {
        padding-right: 0;
    }
    .perfect_place h3 {
        font-size: 23px;
    }
    .search_bar button {
        padding: 11px 17px;
    }
    .list_business {
        padding: 20px;
    }
    .list_business h4 {
        font-size: 26px;
    }
    .info_box_shadow {
        margin: 0 0 7px;
        height: auto;
    }
    .plus_dot {
        padding: 0;
    }
    .every_business {
        padding: 0;
    }
    .orange_card_box {
        padding: 23px;
        width: 100%;
    }
    .business_graphic {
        padding: 27px 0;
    }
    .community_wrap {
        padding: 14px;
        margin: 0;
        background: #f5f5f5;
    }
    .orange_card_box > h4 {
        font-size: 27px;
    }
    .footer_warp {
        padding: 32px 12px;
        background: #33334c;
    }
    .fotter_logo{
        padding: 0 0 15px;
    }
    .widget_colum {
        padding-left: 0;
    }
    .communitybox h3 {
        font-size: 23px;
        line-height: 27px;
        margin: 0 0 9px;
    }
    .verifed_listings {
        padding: 0 0 53px;
    }
    .advertise_wrap {
        padding: 24px 0;
    }
    #advertise_info .business_graphic {
        padding: 14px;
        text-align: center;
    }
    .orange_card {
        padding: 10px 0 20px;
    }
    .learn_more_btns a {
        padding: 13px 14px;
        margin: 0 10px 0 0;
        font-size: 11px;
    }
    .profile_box {
        padding: 24px 0 0;
    }
    .business_banner {
        height: auto;
        padding: 30px 29px;
    }
    .right_profilebox h3 {
        font-size: 16px;
    }
    .right_profilebox ul li a {
        padding: 10px 4px;
        font-size: 11px;
        width: 100%;
        margin-bottom: 8px;
        text-align: center;
        display: inline-block;
    }
    .right_profilebox ul li {
        width: 49%;
    }
    .inner_tabs {
        padding: 0;
        margin: 14px 0 0;
    }
    ul.tabs__box li {
        font-size: 10px;
        padding: 7px 4px;
        width: auto;
    }
    .orange_pathwrap {
        height: auto;
        margin-top: 0;
    }
    .verify_head {
        padding: 17px 0 0;
    }
    .inner_gallery{
        margin-bottom: 20px;
    }
    .verify_head h3 {
        font-size: 25px;
    }
    .getin_touch {
        position: static;
        width: 100%;
    }
    .iframe_box {
        margin: 0;
    }
    .tab-content__box #advertise_info {
        padding: 0;
    }
    .getin_touch {
        padding: 23px 15px;
    }
    .mixcher_orange {
        margin: 41px 0 0;
        padding: 15px;
        height: auto;
    }
    .getin_touch{
        margin-top: 20px;
    }
    .orange_pathwrap {
        background: #f26122;
        padding: 20px 0;
    }
    .tab-content__box #advertise_info .business_graphic {
        padding: 0 0 30px;
    }
    .tab-content__box #advertise_info {
        padding: 15px;
    }
    .mixcher_orange h4 {
        font-size: 25px;
        margin: 0 0 9px;
    }
    .verify_head h3 {
        font-size: 27px;
        line-height: 30px;
        margin: 0 0 7px;
    }
    .bottom_box {
        padding: 0;
    }
    .logobox {
        width: 69%;
    }
    .navbar_box_items {
        padding: 47px 9px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: #f26122;
        height: 100vh;
        overflow-y: auto;
        z-index: 99;
        display: none;
    }
    .navbar_box_items > ul > li {
        display: block;
        vertical-align: middle;
        padding: 0 0 12px;
    }
    .navbar_box_items ul li > a,.navbar_box_items ul li b {
        color: #fff;
        padding: 12px 0;
        font-size: 20px;
    }
    .navbar_box_items .add_listing {
        background: #22231f;
    }
    .close_icon{
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
    }
    .close_icon i{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .menubtn{
        display: block;
        position: absolute;
        top: 46px;
        right: 20px;
    }
    .menubtn i{
        cursor: pointer;
        color: #f26122;
        font-size: 25px;
    }

}